@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #101010;
  color: #898888;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
.btn:hover {
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #c3bfbf;
  padding-bottom: 1.25rem;
  margin-bottom: 3.125rem;
  position: relative;
  margin-top: 1rem;
  display: inline-block;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 5rem;
  height: 3px;
  background: #b3c938;
  border-radius: 1.25rem;
}

.btn {
  font-size: 0.875rem;
  padding: 0.625rem 1.125rem !important;
  background-color: #b3c938;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
}

/* **************** ABOUT-SECTION **************** */

.about-section,
.stats-section,
.gallery-section {
  padding: 3.125rem 1.15rem;
}

.about-img img {
  padding: 1rem;
  border: 4px solid rgba(102, 102, 102, 0.2);
}

.about-content {
  margin-top: 1.875rem;
}

.about-content p {
  margin-bottom: 2.5rem;
}

/* **************** STATS-SECTION **************** */

.stats-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)),
    url(./img/img-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.counter h4 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2.125rem;
}

.counter p {
  font-size: 1.125rem;
}

/* **************** GALLERY-SECTION **************** */

.gallery-section img {
  padding: 0.5rem 1rem;
}

.gallery-section .title::before {
  left: 50%;
  transform: translateX(-50%);
}

/* **************** NEWSLETTER-SECTION **************** */

.newsletter-section {
  z-index: 1;
  position: relative;
}

.newsletter-section::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: #1e1e1e;
  z-index: -1;
}

.newsletter-wrap {
  max-width: 970px;
  margin: auto;
  box-shadow: 0px 4px 9.5px 0.5px rgb(53 53 53 / 10%);
  padding: 1.875rem;
  background: #262525;
  border-radius: 10px;
}

.newsletter-wrap h3 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 3.125rem;
}

.newsletter-wrap form {
  max-width: 425px;
  position: relative;
  margin: 0 auto;
}

.newsletter-wrap input {
  border: 0;
  outline: 0;
  border-radius: 3.4rem;
  padding: 0.9375rem 0.9375rem 0.9375rem 25px;
  box-shadow: 0px 5px 0.9375rem 0px rgba(68, 68, 68, 0.1);
  height: 3.125rem;
  font-size: 0.875rem;
}

.newsletter-wrap button {
  background: #b3c938;
  width: 120px;
  height: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 45px;
}

/* **************** FOOTER **************** */

footer {
  background: #1e1e1e;
  color: #fff;
}

footer p,
li {
  font-size: 0.9375rem;
}

footer a {
  color: #fff;
}

footer li {
  margin-bottom: 0.9375rem;
}

.contact {
  font-size: 0.8125rem;
}

footer li:last-child {
  margin-bottom: 0;
}

footer h3 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

footer .f-col {
  margin-bottom: 3.75rem;
}

.icons i {
  font-size: 1.375rem;
  margin-right: 1.5625rem;
}

.upper-footer {
  padding: 3.75rem 0 0;
}

.footer-img {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -3px;
}

.footer-img li {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 5px;
  padding: 0px 3px;
}

.lower-footer {
  padding: 1.25rem 0;
  background: #262525;
}

/* **************** MEDIA **************** */
@media (min-width: 576px) {
  .counter {
    border-right: 1px solid #898888;
  }
  .counter:last-child {
    border-right: 0;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }

  .newsletter-wrap h3 {
    font-size: 1.5625rem;
  }

  .newsletter-wrap {
    padding: 3.75rem;
  }
}

@media (min-width: 992px) {
  .about-content {
    margin-top: 0;
  }

  .about-img img {
    max-width: 450px;
  }

  .counter h4 {
    font-size: 3.75rem;
  }

  .stats-section {
    padding: 5.625rem 1.15rem;
  }

  .newsletter-wrap h3 {
    font-size: 2.8125rem;
  }

  .contact {
    font-size: 0.9375rem;
  }
}
